/****
STYLE GUIDE:
0. RESET
1. LAYOUT
2. GENERIC ITEMS - VISUALS
3. PARTS OF THE WEB
4. LIST
5. FORM
6. ANIMATIONS
****/

/* ------ 0. RESET ------ */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* ------ 1. LAYOUT ------ */

header{
    display: flex;
    min-width: 900px;
    align-items: center;
    justify-content: center;
}

.desafio{
    margin-bottom: 100px;
}

.banner {
    margin-bottom: 50px;
}

.details{
    margin: 0 20px;
}


/* ------ 2. GENERIC ITEMS - VISUALS------ */

.banner {
    height: 200px;
    width: 100%;
    min-width: 750px;
    background-color: black;
    color: snow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
    .banner h1{
        font-family: monospace;
        font-size: 70px;
        font-style:italic;
        margin-bottom: 20px;
    }
    .banner h2{
        font-family: monospace;
        font-size: 50px;
        font-style:italic; 
    }

.details{
    background-color: #9EC545;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* ------ 3. PARTS OF THE WEB ------ */

.bloqueDesafio{
    line-height: 1.1;
    min-width: 800px;
    margin-bottom: 50px;
}

.desafio{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    height: 250px;
    font-family: monospace;
    margin: 0 20px;
}
    .description{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        background-color: #AAB6E0;
        width: 70%;
        border-top-left-radius: 20px;
    }
        .description h2, .details h2{
            margin-bottom: 10px;
            font-size: 30px;
        }
        .description p, .details p{
            padding: 0 80px;
            font-size: 17px;
        }
            .boldText{
                font-weight: 1000;
                font-style: oblique;
            }

    .link{
        background-color:#EC8C32;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
        border-top-right-radius: 20px;
    }
        .link button{
            background-color: #EC8C32;
            color: black;
            border: none;
            font-size: 30px;
            text-align: center;
            height: 200px;
        }

.details{
    height: 400px;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center 
}

/* ------ 4. LIST ------ */


/* ------ 5. FORM ------ */


/* ------ 6. ANIMATIONS ------ */